Repository TaumuLu/genfe-cli: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, tslint --fix

.lintstagedrc:

{
  "linters": {
    "*.{js,json,ts,tsx}": ["prettier --write", "git add"],
    "*.{js,jsx}": "eslint --fix",
    "*.{ts,tsx}": "tslint --fix"
  },
  "ignore": [
    "/node_modules/",
    "/public/",
    "/build/",
    "/dist/",
    "/docs/"
  ]
}

feat: research use git merge command
  README.md
  src/config.ts
  src/index.ts
  src/lib/orig-file
Due: prettier --write, tslint --fix

feat: add generate class
  README.md
  babel.config.js
  bin/cli.js
  examples/package.json
  package-lock.json
  package.json
  src/config.ts
  src/generate.ts
  src/index.ts
  src/lib/constants.ts
  src/lib/orig-file
Due: prettier --write, eslint --fix, tslint --fix

fix: lint conflict
  .lintstagedrc
  babel.config.js
Due: prettier --write, eslint --fix

feat: temp
  .lintstagedrc
  README.md
  src/index.ts
Due: prettier --write, tslint --fix

test: initial stage
  .eslintignore
  .gitignore
  .lintstagedrc
  .npmrc
  .vscode/settings.json
  README.md
  babel.config.js
  bin/cli.js
  jsconfig.json
  nodemon.json
  package-lock.json
  package.json
  src/config.ts
  src/generate.ts
  src/index.ts
  src/lib/constants.ts
  src/types.ts
  template/package.json
  test/index.ts
  test/tsconfig.json
  tslint.json
Due: prettier --write, eslint --fix, tslint --fix

feat: genFile & install command
  .gitignore
  README.md
  package-lock.json
  package.json
  src/config.ts
  src/constant.ts
  src/generate.ts
  src/index.ts
  test/.huskyrc
  test/package-lock.json
  test/package.json
Due: prettier --write, tslint --fix

temp: staging
  .browserslistrc
  .eslintrc.yml
  .lintstagedrc
  .vscode/settings.json
  README.md
  package copy.json
  package-lock.json
  package.json
  src/config.ts
  src/generate.ts
  src/index.ts
  template/package.json
  test/.huskyrc
  test/index.ts
  test/package-lock.json
  test/tsconfig.json
  tslint.json
Due: prettier --write, tslint --fix

temp: script clean:test
  .vscode/settings.json
  package.json
  tsconfig.json
Due: prettier --write

fix: checkPath
  package-lock.json
  package.json
  src/config.ts
  src/generate.ts
  src/index.ts
  test/package.json
Due: prettier --write, tslint --fix

feat: rm tslint & upgrade eslint config
  .eslintignore
  .eslintrc.js
  .eslintrc.yml
  .lintstagedrc
  .npmignore
  .prettierrc
  .vscode/settings.json
  README.md
  babel.config.js
  backup/tslint.json
  bin/cli.js
  commitlint.config.js
  interface/type.d.ts
  package copy.json
  package-lock.json
  package.json
  src/config.ts
  src/generate.ts
  src/index.ts
  test/package.json
Due: prettier --write, eslint --fix, tslint --fix

temp: test
  src/config.ts
  test/package.json
Due: prettier --write, tslint --fix

feat: add config folder
  .npmignore
  config/.npmignore
  config/.npmrc
  package.json
  src/config.ts
  src/generate.ts
  test/package.json
Due: prettier --write, tslint --fix

feat: upgrade version
  .npmignore
  package.json
Due: prettier --write

feat: add loading animated & catch error
  .eslintrc.js
  .npmignore
  README.md
  package.json
  src/config.ts
  src/generate.ts
  src/types.ts
  test/package.json
Due: prettier --write, eslint --fix, tslint --fix

1.0.6
  package-lock.json
  package.json
Due: prettier --write

feat: add config gitignore
  .gitignore
  .npmignore
  config/.gitignore
  package.json
  src/config.ts
Due: prettier --write, tslint --fix

feat: parse config path
  README.md
  config/gitignore
  config/npmignore
  config/npmrc
  package-lock.json
  package.json
  src/config.ts
  src/generate.ts
Due: prettier --write, tslint --fix

1.0.8
  package-lock.json
  package.json
Due: prettier --write

fix: update lintstagerc config
  .lintstagedrc
  package-lock.json
  package.json
Due: prettier --write

feat: auto create package.json file
  src/generate.ts
Due: prettier --write, tslint --fix

1.0.10
  package-lock.json
  package.json
Due: prettier --write

fix: add html prettier
  .lintstagedrc
Due: none

1.0.11
  package-lock.json
  package.json
Due: prettier --write

fix: hooks order
  .huskyrc
Due: none

1.0.12
  package-lock.json
  package.json
Due: prettier --write

docs: update readme
  README.md
  src/index.ts
Due: prettier --write, tslint --fix

feat: add options
  src/config.ts
  src/generate.ts
  src/index.ts
Due: prettier --write, tslint --fix

1.1.0
  package-lock.json
  package.json
Due: prettier --write

docs: update readme
  README.md
Due: none

docs: update readme config list
  README.md
Due: none

feat: add eslint plugins jest
  .eslintrc.js
  package-lock.json
  package.json
  src/config.ts
Due: prettier --write, eslint --fix, tslint --fix

1.1.1
  package-lock.json
  package.json
Due: prettier --write

feat: update npmrc
  config/npmrc
Due: none

temp: gitignore
  .gitignore
Due: none

1.1.2
  package-lock.json
  package.json
Due: prettier --write

feat: trailingComma none
  .eslintrc.js
  .prettierrc
  babel.config.js
  commitlint.config.js
  config/gitignore
  config/npmignore
  src/config.ts
  src/index.ts
  src/types.ts
  tsconfig.json
Due: prettier --write, eslint --fix, tslint --fix

1.1.3
  package-lock.json
  package.json
Due: prettier --write

feat: add .npmrc
   .npmrc
Due: none

fix: npm registry
   .npmrc
Due: none
